In [ ]:
import os
import geopandas as gpd

In [3]:
pth = os.path.join('..', 'data', 'geodataframe_density.gpkg')
gdf = gpd.read_file(pth); gdf

,city,state,country,latitude,longitude,population,msa,US,cluster,cluster_ref,log10_dpc,geometry
0,uruapan,michoacan,mexico,19.41116,-102.05644,264439,None,False,uruapan michoacan mexico,uruapan michoacan mexico,-6.105428,POINT (-11360870.933 2203403.664)
1,tepic,nayarit,mexico,21.50951,-104.89569,332863,None,False,tepic nayarit mexico,tepic nayarit mexico,-5.896653,POINT (-11676934.797 2452736.945)
2,fuzhou,fujian,china,26.06139,119.30611,3740000,None,False,fuzhou fujian china,fuzhou fujian china,-5.856990,POINT (13281095.414 3006686.347)
3,kunsan,jeonbuk,south korea,35.97860,126.71140,275155,None,False,kunsan jeonbuk south korea,kunsan jeonbuk south korea,-5.846182,POINT (14105448.526 4297677.164)
4,gunsan,jeollabuk do,south korea,35.97861,126.71139,243406,None,False,kunsan jeonbuk south korea,kunsan jeonbuk south korea,-5.792936,POINT (14105447.413 4297678.54)
...,...,...,...,...,...,...,...,...,...,...,...,...
24022,kotzebue,alaska,united states,66.89846,-162.59809,3277,None,True,None,kenai alaska united states,2.076337,POINT (-18100336.583 10127190.134)
24023,wainwright,alaska,united states,70.63694,-160.03833,580,Fairbanks AK MSA,True,None,kenai alaska united states,2.088343,POINT (-17815385.403 11279260.931)
24024,solomon,alaska,united states,64.55961,-164.44310,12,None,True,None,kenai alaska united states,2.101738,POINT (-18305722.156 9493315.402)
24025,nome,alaska,united states,64.50111,-165.40639,3806,None,True,None,kenai alaska united states,2.129314,POINT (-18412955.109 9478171.921)
24026,dutch harbor,alaska,united states,53.88980,-166.54220,4376,None,True,None,kenai alaska united states,2.183586,POINT (-18539392.9 7149313.297)

In [4]:
gdf.drop(columns = ['US', 'cluster_ref', 'log10_dpc', 'geometry'], inplace = True)

In [6]:
gdf.to_csv(os.path.join('..', 'data', 'ClusteringResults.csv'))